<div class="container">
  <h3 class="title">VISHNU LIBRARY</h3>
  <div class="container">
  <div class="row">
      <div class="col-sm-5 columnPan">
        <app-left></app-left>
      </div>

      <div class="col-sm-3 columnPan">
        <app-middle></app-middle>
      </div>

      <div class="col-sm-4 columnPan">
        <app-right></app-right>
      </div>
  </div>
</div>
  <!-- <span>
    <a  class="title" routerLink="/left">Reactive form</a> 
    <a  class="title" routerLink="/right">Template form</a>
  </span>
  <br />

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->



</div>
