<h3 class="title">Form</h3>
   
<form (ngSubmit)="onsubmit(userForm)" #userForm="ngForm">
    <div class="row">
      <div class="row col-sm-5">
        <div class="form-group">
          <label for="firstname">FIRST NAME</label>
          <input                                               
            type="text" 
            id="firstname"
            name="firstname"
            class="form-control"
            ngModel                           
            required
          />
        </div>

        <div class="form-group">
          <label for="lastname">LAST NAME</label>
          <input
            type="text"
            id="lastname"
            name="lastname"
            class="form-control"
            ngModel
          />
        </div>

        <div class="form-group">
          <label for="email">EMAIL</label>
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            ngModel
            required email
            #email="ngModel"
          />
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter correct email</span>
        </div>

        <div class="form-group">
          <label for="gender">GENDER</label>&nbsp;&nbsp;&nbsp;
          <input type="radio" value="male" name="gender" ngModel />Male
          <input type="radio" value="female" name="gender" ngModel />Female
        </div>

        <div class="form-group">
          <label for="ismarried">MARRIED</label>&nbsp;&nbsp;&nbsp;
          <input type="checkbox" name="ismarried" ngModel />
        </div>
      </div>

      <div class="row col-sm-2"></div>

      <div class="row col-sm-5">
        <div class="form-group" ngModelgroup="address">
          <div class="form-group">
            <label for="country">COUNTRY</label>
            <select id="country" name="country" class="form-control" [ngModel]="'India'">
              <option *ngFor="let c of countryList">
                {{ c.countryname }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="city">CITY</label>
            <input type="text" name="city" class="form-control" ngModel />
          </div>

          <div class="form-group">
            <label for="street">STREET</label>
            <input type="text" name="street" class="form-control" ngModel />
          </div>

          <div class="form-group">
            <label for="pincode">PINCODE</label>
            <input type="text" name="pincode" class="form-control" ngModel />
          </div>
          <br />
          <div class="form-group">
            <button type="submit" class="btn btn-info" [disabled]="!userForm.valid">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>